@page
@model WebApplication1.Pages.task3_infoModel
@{
    ViewData["Title"] = "Task3 - Task4";
    List<string> Name_rest = new List<string>();
    List<string> street = new List<string>();
    List<string> info = new List<string>();




    Name_rest.Add("Чевермето");
    Name_rest.Add("Курінь");
    Name_rest.Add("4rest");

    street.Add("Молоді 12");
    street.Add("Президента Грушевського, 26");
    street.Add("Кравчука, 15К");

    info.Add("ЧЕВЕРМЕТО – це мережа ресторанів болгарської кухні з багаторічним досвідом. Наш заклад щодня відкриває свої двері, щоб потішити вас різноманітним меню та затишною атмосферою, що сприяє дружньому спілкуванню. Вишукані страви, приготовані з любов'ю, не розчарують навіть найвибагливіших гурманів. Якщо ви шукаєте місце, де можна чудово відпочити в приємній компанії, влаштувати романтичне побачення, провести корпоративний захід чи відсвяткувати день народження, тут ви знайдете все для комфортного відпочинку. Яскраві смаки болгарської кухні не залишать нікого байдужим, а доступні ціни дозволять приємно провести вечір без надмірних витрат. В Чевермето завжди чекають на ВАС! Завітайте до нас та смакуйте!");
    info.Add("Найкращий заклад української кухні! Ми дбайливо оберігаємо традиції української гостинності та створюємо атмосферу тепла та затишку, якою сповна може насолодись кожен Гість нашого ресторану. Народні рецепти української кухні та апетитні аромати доповнюють гостинність українців, а ресторація КУРІНЬ – її мала, але гідна частинка! Приємна атмосфера, щирий персонал, українська музика, зроблять хвилини Вашого відпочинку незабутніми.");
    info.Add("4rest- ресторація, що пропонує смачні м'ясні страви, приготовані різними способами. Ідеальне місце для відпочинку як великої компанії, так і для затишної вечері удвох. Особливість ресторану в тому, що тут готують м'ясо на відкритому вогні. Також заклад пишається колекцією елітних міцних напоїв та відібраними сомельє винами, що найкраще гармонують до страв у меню. Навіть найменші деталі відіграють важливу роль. Гра світла і тіні, поєднання різнопланового освітлення з природними матеріалами, інтеграція простору в середовище живої природи. Все це - 4rest.");



   

}

<h1>@ViewData["Title"]</h1>

<div class="conteiner">
        
    <div class="content">
        @for(int i = 0;i < Name_rest.Count;i++)
        {
            <p>@Name_rest[i]</p>
            <p>@street[i]</p>
            <p>@info[i]</p>
        }
      
    </div>

</div>
